.heading{
    background-color: aquamarine;
    color: blueviolet;
}
body{
    background-color: lightskyblue;
}

botton{
    color: white;
    background-color: blue;
    border: 1px solid black;
    padding-top: 10px;
 }